body {
			background: #eae8e7;
			color: #767270;
			padding: 1%;
			font-size: 14px;
			font-family: verdana, sans-serif;
		}
		
		.sidebar {
			width:30%;
			display: inline-block;
			margin-left: 10%;		
			color: white;
		}

		.one
		{
			background-color: #3b75d3;
        }

		img 
		{
			width: 100%;
		}

		.sidebar-top 
		{ position: relative; 
		}

		.profile-basic 
		{
			position: absolute;
			bottom: 0px;
			left: 30px;
		}

		.profile-info 
		{
			padding: 20px 10px;
			border-bottom: 1px solid #4783c2;
		}

		 .profile-info p
		 {
			margin-left: 10px;
			display: inline-block;
			vertical-align: top;
		}

		.profile-info .key
		{
			font-weight: bold;	
		}

		.profile-info .value{
		}
    
		.social-media:hover{
			cursor: pointer;
			color: white;
		}		
	    .progress
		{
			margin-top: 30px;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
			padding: 5% 2% 5% 10%;
			background: #FFFDE6;
			color: black;
		}
		.progress .tec h2
		{
			color: #E84C3D;
		}
		.progress .tec h3 
		{
		 	color: #E84C3D;
	    }
	    .progress .tec div 
	    {
		background-color: #DDD;
		height: 8px;	
	    }
	    .progress .tec div span 
	    {
		background-color: #E84C3D;
		height:8px;
		display: block;
		line-height:25px;
		text-align: right;
        }

		.content {
			width: 48%;
			margin-left: 2%;
			display: inline-block;
			vertical-align: top;
		}

		.work-experience, .education {
			margin-bottom: 30px;
			padding: 5% 2% 5% 10%;
			background: #FFFDE6;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
			color: #242315;
		}
		.education
    	{
    		background: url("https://i.ytimg.com/vi/Wz4BEUNQAh0/maxresdefault.jpg");
    	    background-position: center;
    		background-repeat: no-repeat;
    		background-size: cover;
    		background-attachment: fixed;   		
    	}

    	.education .info1
    	{
    		  text-align: left;
			  font-weight: bold;
			  width: 80%;
			  margin: auto;
			  padding: 25px;
			  padding-top: 15px;
			  background-color: rgba(204, 221, 255, 0.6);
			  color: #383127;
			  margin-left: 5px;
    	}
    	

		.info {
			padding: 2% 1%;
			border-bottom: 1px solid #bdbdbd;
		}
       

		.sub-heading { 
      font-weight: bold;       
    }
    	.duration
    	{
    		color: #0052d6;
			font-size:12px;
    	}
		.gpa
		{
			display: inline;
			font-size:14px;	
			padding: 2px;
		}
		